html, body{
    height:100%;
  }
  
  body{
    background-image: url(../img/wallpaper.jpg);
    text-align: center;
  
  }
  
  #wrap{
    margin:15% auto;
    width:960px;
    height: 95%;

  }
  
  #subwrap{
    position: relative;

  }
  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-size: 42px;;
    color: white;
  }
  
  img{
    height:200px;
  }
  
  h1{
    font-family: 'Aclonica', sans-serif;
    font-size: 6.5em;
    font-weight: bold;
    color: aquamarine;
    padding-top: 2.5%;
  }
  
  h2{
    font-size: 35px;
    margin-bottom: 25px;
    color: white;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: aqua;
    
  }
  
  #start{
    margin-top: 10%;
    border:2px solid antiquewhite;
    background: slategray;
    opacity: .7;
    color: white;
  }
  
  
  
  button:hover {
    border:2px solid aquamarine;
    background: gray;
    color: black
  }